<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alain's Dictionary</title>
  <link rel="stylesheet" href="static/index.css">
</head>
<body>
  <header>
    <h1>Alain's Dictionary</h1>  <!-- This what is written on my web app's title-->
  </header>
  
  <div class="container">
    <input id="wordInput" type="text" placeholder="Enter a word here..." />
    <button id="searchButton">Search</button>
    <div id="results"></div>
  </div>
  
  <footer>
    <p>&copy; 2025 Alain's Dictionary. All rights reserved.</p> <!-- Words ritten on my footer part -->
  </footer>

  <script src="static/index.js"></script>
</body>
</html>
